$bg: #090409;
$on: #B96DE7;
$l2: #1a1a1a;
$text: #E99AFF;
$light_text: #EBC4F7;
$dark_text: #E07D68;
$blueish: #549D9D;
$blueish_hover: #6dcfcf;

/*
#090409
#426068
#88594B
#754888
#549D9D
#E07D68
#B96DE7
#E99AFF
#A358D1
#426068
#88594B
#754888
#549D9D
#E07D68
#B96DE7
#EBC4F7*/
