$bg: rgba(9, 4, 9, 0.5);
$border: #090409;
$on: #E99AFF;
$on_hover: #a86fb8;
$l2: rgba(255, 255, 255, 0.05);
$l2_hover: rgba(255, 255, 255, 0.1);
$l3: rgba(255, 255, 255, 0.05);
$l3_hover: #555555;
$l4: #777777;
$accent_1: #E07D68;
$accent_2: #549D9D;
$accent_3: #E99AFF;
$accent_4: #88594b;
$accent_5: #A358D1;
