$bg: rgba($color: #090409, $alpha: 0.6);
$border: #090409;
$on: #E99AFF;
$on_hover: #b272c4;
$l2: rgba($color: #ffffff, $alpha: 0.1);
$l2_hover: rgba($color: #ffffff, $alpha: 0.15);
$l3: #383838;
$l3_hover: #555555;
$l4: #777777;
$accent_1: #E07D68;
$accent_2: #549D9D;
$accent_3: #E99AFF;
$accent_4: #88594b;
