* {
  -gtk-icon-shadow: none;
}

window {
  background-color: #000000;
  color: #ffffff;
}

button {
  padding: 0;
  background: #1a1a1a;
  border: none;
  min-width: 15px;
  color: #ffffff;
  box-shadow: none;
  text-shadow: none;

  &.on {
    background-color: #ffffff;
    color: #000000;
  }

  &.on:hover {
    background-color: #d6d4d4;
  }
}

button:hover {
  background-color: #292929; 
}

scale {
  min-width: 154px;
  margin: 0px;
  padding: 0px;
}

.placeholder_txt {
  color: #515152;

  &.icon {
    font-size: 90px;

    &.ai {
      padding-right: 27px;
    }
  }
  &.ai_loading {
    margin-bottom: 3px;
  }
}

.music_player_button {
  padding: 0 4;
}

.ws_btn {
  margin: 0 3 0 0;
}

.bticon {
  padding-right: 4px;
}

.neticon {
  padding-right: 7px;
}

.quick_center {
  padding-right: 3px;
}

.screenprint {
  padding: 3px;
}

.volbar {
  padding: 8px;
}

.brigbar {
  padding: 8px;
}

.notification_popup {
  padding: 8px;
}

.quick_close {
  margin-right: 3px;
  padding: 0px 2px;
}

.quick_power {
  padding-right: 4px;
}

.quick_settings {
  padding: 5px;
}

.quick_controls_top {
  margin: 5px 0px;
}

.quick_button {
  min-width: 60px;
  min-height: 40px;

  &.net {
    padding-left: 2px;
    margin-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.bt {
    margin-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.localsend {
  padding-right: 1px;
  }
}

.quick_extend {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
 
  &.net {
  margin-right: 5px;
  }

  &.bt {
  margin-right: 5px;
  }
}

.tlp_menu {
    border: 1px solid #4d4c4c;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0px;
}

.prfp_button {
  min-width: 68px;
  min-height: 40px;
}

.quick_sliders {
  margin-bottom: 5px;
}

.quickV_scale {
  margin-bottom: 5px;
}

.vol_settings {
  padding-right: 4px;
  min-width: 42px;
}

.nhtext_box {
    border: 1px solid #4d4c4c;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
  }

.nhis_box {
  margin-bottom: 5px;
  background-color: #1a1a1a;
  border-radius: 7px;
}

.power_menu {
  padding: 3px;
}

.music_player {
  padding: 10px;
}

.repeat_button {
  padding-right: 3px;
}

.shuffle_button {
  padding-right: 1px;
}

.music_text {
  margin-left: 5px;
}

.localsend {
  padding: 5px;
}

.lstab {
  min-width: 70px;
}

.system_notification {
  padding: 5px;
}

.sysnotif_but {
  padding: 3px;
}

.dock {
  min-height: 50px;
  padding: 5px 5px 5px 5px;
}

.dock_button {
  margin-right: 3px;
  padding: 3px;
}

.tray_button {
  padding-left: 6px;
}

.systemtray {
  padding-right: 4px;
}

.ai_main {
  min-height: 442px;
}

.ai_center {
  padding-right: 5px;
}

.ai {
  padding: 5px;
}

.ai_input {
  margin-bottom: 3px;
}

.ai_txt {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 4px;
}
