.ai_main {
  min-height: 442px;
}

.ai_input {
  margin-bottom: 3px;
  min-width: 217px;
  margin-right: 3px;

  &.empty {
    min-width: 247px;
  }
}

.ai_ibutton {
  min-width: 23px;
  padding-right: 4px;
  margin-bottom: 3px;

  &.send {
    margin-right: 3px;
  }
}

.ai_att_top {
  border-bottom: 1px solid #7a7a7a;
  margin-bottom: 3px;
}

.ai_code_copy {
  padding: 0px 5px;
  margin-bottom: 3px;
}

.ai_menu_button {
  padding-right: 2px;
}

.ai_close {
  min-width: 270px;
}

.ai_new_chat {
  margin-bottom: 6px;
}

.ai_chat {
  padding: 3px;
  min-width: 149px;
}

.ai_bottom {
  margin-top: 3px;
}
