@use "../colors.scss" as c;

.bar_module {
  background-color: c.$bg;
  padding: 5px;
  border-radius: 7px;
  border: c.$border 1px solid;

  &.start {
    margin-right: 40px;
  }

  &.time {
    color: c.$accent_2;
  }

  &.bar_end {
    color: c.$accent_1;

    button {
      color: c.$accent_1;
    }
  }
}

.workspace {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba($color: #000000, $alpha: 0);
  padding: 3px 3px 3px 5px;

  &.a {
    color: #ffffff;
  }

  &.b {
    color: #000000;
  }
}

.workspace:hover {
  opacity: 0.75;
  background-color: unset;
}

.play-pause {
  color: c.$accent_3;
}

.bticon {
  padding-right: 4px;
}

.neticon {
  padding-right: 7px;
}

.planeicon {
  padding-right: 5px;
}

.quick_center {
  padding: 0px 5px 0px 3px;

  &.on {
    background-color: c.$accent_1;

    label {
      color: #000000;
    }
  }

  &.on:hover {
    background-color: #c26b59;
  }
}

.ai_center {
  padding: 0px 8px 0px 3px;

  &.on {
    background-color: c.$accent_1;
    color: #000000;

    label {
      color: #000000;
    }
  }
}
