/*=============================================================================
bar.scss
=============================================================================*/

.bar {
    padding-top: 5px;
    border: none;
    background-color: rgba($color: $bg, $alpha: 0.0);
  }

.bar button {
  min-height: 0px;
}

.bar_module {
  background-color: rgba($color: $bg, $alpha: 0.5);
  border-radius: 7px;
  border: $bg 1.5px solid;
  padding: 4;

  &.workspaces { 
    margin-right: 10px;
  }

  &.time {
    color: $dark_text;
    padding: 0px 30px;
  }

  &.end {
    color: $text;
  }
}

.player_text {
  color: #e2dff4;
  background-color: rgba($color: #000000, $alpha: 0.0);
  padding-left: 4px;
}

.player_text:hover {
  background-color: rgba($color: #ffffff, $alpha: 0.1);
}

.play_pause {
  color: #e2dff4;
  background-color: rgba($color: #000000, $alpha: 0.0);
  padding-left: 2px;
}

.workspace {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba($color: #000000, $alpha: 0);
  padding: 3px 3px 3px 5px;

  &.one {
    background-image: url('/home/.config/eww/themes/night_sky/images/workspace1.png');
    color: #ffffff;
  }

  &.two {
    background-image: url('/home/.config/eww/themes/night_sky/images/workspace2.png');
    color: #ffffff;
  }

  &.three {
    background-image: url('/home/.config/eww/themes/night_sky/images/workspace3.png');
    color: #000000;
  }

  &.four {
    background-image: url('/home/.config/eww/themes/night_sky/images/workspace4.png');
    color: #000000;
  }

  &.five {
    background-image: url('/home/.config/eww/themes/night_sky/images/workspace5.png');
    color: #ffffff;
  }

  &.won {
    opacity: 1;
  }

  &.woff {
    opacity: 0.35;
  }
}

.bticon {
  padding-right: 4px;
}

.neticon {
  padding-right: 7px;
}

.planeicon {
  padding-right: 5px;
}

.quick_center {
  padding-right: 3px;
}
