@use "../colors.scss" as c;

.settings_sidebar {
  min-width: 200px;
  padding: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.09);
}

.settings_title {
  font-size: 22px;
  font-weight: bold;
}

.settings_nav {
  padding: 9px;
}

.settings_heading {
  font-size: 19px;
  margin: 5px 0px 0px 5px;
}

.settings_big_icon {
  font-size: 28px;
  margin-right: 5px;
}

.long_btn {
  padding: 7px 12px;
}

.theme_btn {
  padding: 6px;
  border-radius: 15px;
}
