@use "/home/.config/eww/scss/colors.scss" as c;

* {
  -gtk-icon-shadow: none;
  all: unset;
  font-family: "Google Sans";
}

button {
  padding: 0;
  background: c.$l2;
  border: none;
  border-radius: 7px;
  min-width: 15px;
  color: c.$on;
  box-shadow: none;
  text-shadow: none;
  transition: background-color 0.3s ease-in-out;

  &.on {
    background-color: c.$on;
    color: #000000;
  }

  &.on:hover {
    background-color: c.$on_hover;
  }
}

button:hover {
  background-color: c.$l2_hover;
  transition: background-color 0.3s ease-in-out;
}

scale { 
  trough {
    background-color: c.$l2;
    min-height: 7px;
    min-width: 130px;
    margin: 0px;
    padding: 0px;
    border-radius: 100px;
  }

  highlight {
    background-color: c.$on;
    border-radius: 100px;
  }

  slider {
    min-height: 18px;
    min-width: 18px;
    margin: -8px 0px;
    border-radius: 100px;
    border: #0051ff 1px solid;
    background-color: c.$on;
  }
}


progressbar {
  progress {
    border-radius: 100px;
    background-color: c.$on;
}

  trough {
    background-color: c.$l2;
    border-radius: 100px;
  }
}

entry {
  background-color: c.$l2;
  min-height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: c.$bg 1px solid;
}

entry:focus {
  border: c.$on 1px solid;
}

tooltip {
  background-color: rgba($color: c.$bg, $alpha: 0.7);
  border-radius: 7px;
}
