@use "/home/.config/eww/themes/default_dark/eww/scss/colors.scss" as c;

.placeholder_txt {
  color: #515152;

  &.icon {
    font-size: 90px;

    &.ai {
      padding-right: 27px;
    }
  }
  &.ai_loading {
    margin-bottom: 3px;
  }

  &.weather_loading {
    font-size: 100px;
  }
}

.l2 {
  background-color: c.$l2;
  border-radius: 7px;

  &.nhis_box {
    margin-bottom: 5px;
  }

  &.ai_txt {
  padding: 5px 8px;
  margin-bottom: 4px;

    &.prompt {
      margin-left: 30px;
    }

    &.attachment {
      margin-left: 150px;
    }

    &.document {
      font-size: 50px;
    }
  }

  &.ai_iattached {
    margin-bottom: 3px;
    padding: 5px;
    min-height: 47px;
  }

  &.ai_iattached button {
    padding: 0px 3px;
    margin-bottom: 3px;
  }
}

.l2 button {
    background-color: c.$l3;
}

.l2 button:hover {
  background-color: c.$l3_hover;
}

.l2 entry {
  background-color: c.$l3;
  border: c.$l3 1px solid;
}

.window {
  color: c.$on;
  background-color: c.$bg; 
  padding: 5px;
  border-radius: 7px;
}

.window_small {
  color: c.$on;
  background-color: c.$bg;
  border-radius: 7px;
  padding: 3px;
}

.image {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  min-width: 100px;
  min-height: 100px; 

  &.ai_prompt {
    margin-bottom: 3px;
  }

  &.ai_input {
    margin-right: 4px;
    margin-bottom: 3px;
  }

  &.profile_picture {
    background-image: url('./images/profile_picture.png');
    min-height: 150px;
  }

  &.default_dark {
    background-image: url('./themes/default_dark/images/wallpaper.png');
    min-width: 256px;
    min-height: 144px;
  }
}
