.workspaces {
  margin-right: 40px;
}

.music_player_button {
  padding: 0px 4px;
}

.bticon {
  padding-right: 4px;
}

.neticon {
  padding-right: 7px;
}

.planeicon {
  padding-right: 5px;
}

.quick_center {
  padding: 0px 5px 0px 3px;
}

.ai_center {
  padding: 0px 8px 0px 3px;
}
