@use "/home/.config/eww/themes/default_dark/eww/scss/colors.scss" as c;

.dock {
  color: c.$on;
  background-color: c.$bg; 
  padding: 5px;
  min-height: 50px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  }

.main_menu_button {
  font-size: 40px;
  min-width: 46px;
  padding-right: 7px;
}

.dock_button {
  margin: 0px 2px;
  padding: 3px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 1px solid c.$bg;

  &.background {
    border-bottom: 1px solid c.$on;  
  }
}

.tray_button {
  padding-left: 6px;
}

.systemtray {
  padding-right: 4px;
}

