@use "../colors.scss" as c;

.dock {
  color: #ffffff;
  background-color: c.$bg; 
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  }

.dock_revealed {
  padding: 5px;
}

.main_menu_button {
  min-width: 47px;
  padding-right: 5px;
  font-size: 40px;
}

.dock_button {
  margin: 0px 2px;
  min-width: 49px;
  padding: 3px;
  border-bottom: 2px solid c.$bg;

  &.background {
    border-bottom: 2px solid c.$on;
  }
}

.tray_button {
  padding-left: 2px;
  min-height: 30px;
  min-width: 30px;
}

.dock_separator {
  background-color: c.$l4;
  min-width: 1px;
}
