@use "/home/.config/eww/scss/colors.scss" as c;

.cava_bar {
  border-bottom: c.$on 1px solid; 

  progress {
    border-radius: 0px;
  }

  trough {
    background-color: rgba($color: #000000, $alpha: 0);
  }
}

.repeat_button {
  padding-right: 3px;
}

.shuffle_button {
  padding-right: 1px;
}

.music_text {
  margin-left: 5px;
}

