.quick_close {
  padding: 0px 2px;
}

.quick_power {
  padding-right: 4px;
}

.quick_set_button {
  padding-right: 4px;
}

.quick_button {
  min-width: 60px;
  min-height: 40px;

  &.net {
    padding-left: 2px;
    margin-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &.bt {
    margin-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.quick_button_big {
  min-width: 72px;
  min-height: 40px;
}

.quick_extend {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
 
  &.net {
  margin-right: 5px;
  }

  &.bt {
  margin-right: 5px;
  }
}

.tlp_menu {
    border: 1px solid #4d4c4c;
    border-radius: 10px;
    padding: 5px;
}

.prfp_button {
  min-width: 68px;
  min-height: 40px;
}

.quick_sliders {
  margin-left: 10px;
}

.quickV_scale {
  margin-bottom: 5px;
}

.vol_settings {
  padding-right: 4px;
  min-width: 42px;
}

.nhtext_box {
    border: 1px solid #4d4c4c;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
  }

