@use "../colors.scss" as c;

.settings_sidebar {
  min-width: 190px;
  padding: 5px;
  border-right: 1px solid c.$l2;
}

.settings_title {
  font-size: 20px;
  margin: 5px 5px 10px 5px;
}

.settings_close {
  padding: 6px 10px;
}

.settings_nav {
  padding: 8px 10px;
  margin-bottom: 4px;
}

.settings_heading {
  font-size: 17px;
  margin: 5px;
}

.settings_big_icon {
  font-size: 28px;
  padding: 5px 8px;
}

.long_btn {
  padding: 6px;

  &.reload {
    padding-right: 9px;
  }
}

.settings_scale {
  margin-right: 10px;
}

.theme_btn {
  padding: 5px;
  border-radius: 15px;
}
